if SHIELD_DYNOSPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "dynoSplit"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DYNOSPLIT_LEFT || SHIELD_DYNOSPLIT_RIGHT

config ZMK_SPLIT
    default y

endif